
@{
    ViewBag.Title = "Discipline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Chính sách kỷ luật</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Chính sách kỷ luật</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.mes != null)
                {
                    if (ViewBag.mes == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    else if (ViewBag.mes == "2")
                    {
                        <div class="alert alert-danger">
                            <strong>Chính sách này đã tồn tại</strong>
                        </div>
                    }
                    else if (ViewBag.mes == "3")
                    {
                        <div class="alert alert-danger">
                            <strong>Tên người dùng này đã tồn tại</strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Dữ liệu của nhân viên này đang tồn tại ở  chấm công</strong>
                        </div>
                    }
                }
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in Model)
                        {

                            var nameUpdate = "exampleModal" + item.id_policy;
                            var nameUpdate1 = "#exampleModal" + item.id_policy;
                            var nameModalDelete1 = "#exampleModalDelete" + item.id_policy;
                            var nameModalDelete = "exampleModalDelete" + item.id_policy;

                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@item.name</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="@nameUpdate1">
                                        Cập nhật
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="@nameModalDelete1">
                                        Xóa
                                    </button>
                                </td>

                            </tr>
                            <div class="modal fade" id="@nameModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa ?</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bài đăng : <span>@item.name</span>
                                            <form action="/Policy/DeleteDiscipline" method="post">
                                                <input type="hidden" class="form-control" id="id" name="id_policy" value="@item.id_policy">
                                                <div class="modal-footer mt-1">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="@nameUpdate" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhập</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/Policy/EditDiscipline" method="post">
                                                <div class="mb-3">
                                                    <label for="category-film"
                                                           class="col-form-label">Tên chính sách:</label>
                                                    <input type="text" class="form-control" name="name" value="@item.name" id="category-film">
                                                    <input type="hidden" class="form-control" name="id_policy" value="@item.id_policy" id="category-film">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Modal Add-->
                        <div class="modal fade" id="exampleModalAdd" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/Policy/AddDiscipline" method="post">
                                            <div class="mb-3">
                                                <label for="category-film"
                                                       class="col-form-label">Tên chính sách:</label>
                                                <input type="text" class="form-control" name="name" id="category-film" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Đóng
                                                </button>
                                                <button type="submit" class="btn btn-primary">Thêm </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Modal Update-->
                        <!-- Modal Update-->
                        <!-- Modal Update-->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

